/* Set the size of the div element that contains the map */
#map {
    position: fixed !important; 
    height: 400px !important; /* The height is 400 pixels */
    width: 100% !important;  /* The width is the width of the web page */
}